.box1 {
	width:300px;
	height:300px;
	background-color:#6a8e22;
	padding:20px;
	border: 10px solid #efe58c;
	margin: 20px; 
	border-radius:20px;
}
.box2{
	width:300px;
	height:300px;
	background-color:#4169e2;
	padding:20px;
	border: 10px solid #efe58c;
	margin: 20px; 
	border-radius:20px;
	
}

.box3{
	width:300px;
	height:300px;
	background-color:white;
	padding:20px;
	border: 10px solid #efe58c;
	margin: 20px; 
	border-radius:20px;
	
}



p {
	width: 75%;
	height: 75%;
	background-color:#98c0d9;
}

#box2{
	background-color:#ee6b4d;
	overflow:scroll;
	width: 70%;
	height: 70%;
}

h2{
	color:white;
}

.cont{
	display:flex;
}



.box4{

	height:30px;
	background-color:#f4a361;
	padding-left:125px;
	padding-right:125px;
	border: 5px solid #efe58c;
	border-radius:30px;
	text-align: center;
}

a:link {
  color: black;
 
}
a:visited {
  color: black;
 
}
a:hover {
  color: red;
  
}
a:active {
  color: black;

}
